sudo: false
language: ruby
cache: bundler
rvm:
 - 2.4.10
 - 2.5.8
 - 2.6.6
 - 2.7.1
 - jruby-9.2.11.1
before_install: 
- gem update --system
- gem install bundler -v 2.1.4
after_success:
- bundle exec codeclimate-test-reporter
